<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".prevenircsq"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrevenirCSQ"
        tools:targetApi="31">
        <activity
            android:name=".presentation.faq.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.languageSelection.LanguageSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.mecanismo.MecanismoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.faq.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.bibliografia.BibliografiaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.sections.SectionsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.introduccion.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.score.ScoreActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".HeaderActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.recommendation.RecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.splash.SplashActivity" android:exported="true"
            android:theme="@style/Theme.App.Starting"     tools:ignore="LockedOrientationActivity"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>